@charset "utf-8";
/* CSS Document */
header{
	height:60px;
	background-color:#b841ae;	
}
footer{
	height:10px;
    width:100%;
	background-color:#b841ae;
    position:fixed;
    bottom:0;
}
header {
overflow:hidden;}
header hgroup, header nav {
    float:left;
}
header hgroup {
    width: 240px;
    display: block;

    height: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
header nav{
    
    display: block;
    height: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    
}
    header nav ul {
    overflow:hidden;}
header nav li{
    float:left;
    padding:0 10px;
    cursor:pointer
}

    header nav li.active {
        color:black;
        background-color:#fff;
    }
    header a {
        color:#000;
    }
    header a:hover {
        text-decoration:none;
    }


.mainWrap{
	width:100%;
	position:relative;	
	display:block;
	
}
.mainWrap>nav{
	width:240px;
	min-height:200px;
	background-color:#f3f3f3;
	position:absolute;
	top:0;
	left:0;
	height:100%;
    overflow:auto;

}
.mainWrap>.main{
	min-height:200px;	
	background-color:#FFF;
	margin-left:240px;
	height:100%;
    overflow:auto;
	
}
.mainWrap>nav .service{
	margin-left:20px;
	margin-top:20px;	
}
.mainWrap>nav .service dd{
	line-height:30px;
}
.mainWrap>nav .service i{
	width:23px;
	height:20px;
	display:inline-block;
	background-image:url(img/index_icon.png);
	margin-right:5px;
	position: relative;
    top:5px;
}
.mainWrap>nav .service i.ask{
	height:20px;
	background-position:0 0;
}
.mainWrap>nav .service i.talk{
	height:19px;
	background-position:0 -20px;
}
.mainWrap>nav .service i.phone{
	height:23px;
	background-position:0 46px;
}
.mainWrap>nav .service dt{
	width:60%;
}
.mainWrap>nav .service dt img{
	margin-top:5px;
	width:100%;
}
.mainWrap>nav .service dt p{
	text-align:center;
}
.mainWrap>nav .ad{ 
    width:100%;
     padding:10px 0;
      background-color:#ccc; 
      display:block; 
      position:absolute; 
      top:0; 
      left:0;}
.mainWrap>nav .menu{
	margin-top:50px;
}
.mainWrap>nav .menu ul{
	display:none;
}
.mainWrap>nav .menu li.active>ul{
	display:inherit;
}


.mainWrap>nav .menu>li{
	border-bottom:1px solid #d1d1d1;
	line-height:50px;
	
}
.mainWrap>nav .menu>li label{
	font-size:14px;
	font-weight:bold;
	text-overflow: ellipsis;
    white-space: nowrap;
	display:block;
	cursor:pointer;
    
}
    .mainWrap > nav .menu li.disabled>label{
        color: #A9A5A5;
    }
.mainWrap>nav .menu>li.active label{
	line-height:50px;
	height:50px;
	display:block;
	border-bottom:1px solid #d1d1d1;
}
.mainWrap>nav .menu>li.active li:last-child label{
	border-bottom-style:none;
}
.mainWrap>nav .menu label em{
	width:50px;
	height:50px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	border-right:1px solid #d1d1d1;
	margin-right:15px;
}
.mainWrap>nav .menu>li.active em{
	color:#FFF;
	background-color:#ae37ac;
}
.mainWrap>nav .menu label i{
	width:10px;
	height:50px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	position: absolute;
    right:20px;
	color:#444;
}
.mainWrap>nav .menu>li label i:before{
	content: "\f107";

}
.mainWrap>nav .menu>li.active i{	
}
.mainWrap>nav .menu>li.active>label i:before{
	content: "\f106";
}
.mainWrap>nav .menu>li>ul{
	margin-left:50px;
	border-left:1px solid #d1d1d1;
}
.mainWrap>nav .menu>li>ul{
	border-bottom:none;
}
.mainWrap>nav .menu>li>ul>li label i{
}

.mainWrap>nav .menu>li>ul>li.active label i:before{
	content: "\f106";
	color:#368ee0
}
.mainWrap>nav .menu>li>ul li:last-child{
	border-bottom-style:none;
}
.mainWrap>nav .menu>li>ul li>label{
	padding-left:15px;
	font-weight:normal;
	border-style:none;
}
.mainWrap>nav .menu>li>ul li.active>label{

}
.mainWrap>nav .menu>li>ul li>ul{
	padding-left:15px;
	font-weight:normal;
	border-style:none;
	border-top:1px solid #d1d1d1;
	font-size:12px;
	color:#555;
}


figure{
	padding:10px;
}
figcaption{
	height:50px;
	line-height:50px;
	border-bottom: 1px solid #ddd;
	margin-bottom:10px;
	margin:-10px 7px 20px 7px;
	font-size: 18px;
}
figcaption i{
	margin: 0 10px 0 5px;
	font-size: 18px;
}

form .hold{
	margin-bottom:10px;
}
.spinner{
	background-color:#000;
    opacity:.5;
}
.mask {
    background-color:#000;
    opacity:.5;
    z-index:5;
}

.label-text {
    width:100px;
    display:inline-block;
}
.titleBgColor {
    background-color:#b841ae;
}


/***   */

.pager{ 
	width:80%; 
	margin:0 auto;
	text-align:center;
	padding:10px 20px;
	margin-left:-10px;
}
.pager a{
	text-decoration:none;
}
.pager A:link {
 color: #000000;
 TEXT-DECORATION: none
}
.pager A:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
.pager a:hover {
 COLOR: #fff;
 background-color:#889fc2;
 text-decoration:none;
}
.pager A:active {
 COLOR: #ff7f24;  
 text-decoration: underline;
}

.pager a,.pager span{
	height:28px;
	width:28px;
	line-height:28px;
	display:inline-block;
	background-color:#f3f3f3;
	box-shadow:0 1px 1px 0;
	margin-left:6px;
}
.pager span{
	padding:0 10px;
}
.pager .begin,.pager .pre,.pager .next,.pager .end{
	padding:0 5px;
}
.pager .current{
	background-color:#0746aa;
	color:#fff;
	padding:0;
}
.pager .to{
	width:auto;
	background-color:white;
	color:#fff;
	padding:0;
}
.pager .to input[type=text]{
	width:36px;
	height:20px;
	padding:2px;
}
.pager .to input[type=button]{
	width:36px;
	padding:4px;
}


.mainContent .photoWrap{
	
}
.mainContent .photoWrap ul{
	overflow:hidden;
}
.mainContent .photoWrap li{
	
	float:left;
	margin:5px;
	overflow:hidden;
}
.mainContent .photoWrap li .left,.mainContent .photoWrap li .right{
	float:left;
}
.mainContent .photoWrap li .left{
	width:120px;
	height:150px;
	background-color:#990;
	position:relative;
}
.mainContent .photoWrap li .left img{
	width:100%;
	height:100%;
}
.mainContent .photoWrap li .left>span{
	position:absolute;
	right:0px;
	bottom:0px;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	background-color:#fff;
	opacity:.7;
}
.mainContent .photoWrap li .op{
	text-indent:inherit;
	border-left-style:none;
	border-right-style:none;	
}
.mainContent .photoWrap li .right{
	width:350px;
	height:150px;
	background-color:#f3f3f3;
}

.photoWrap .smallOpBtn{
	background-color:#f3f3f3;
}
.photoWrap li .op .remark{
	float:none;
    margin-right:inherit;
    color: #fa0000;
	line-height:normal;
}



/**----------coverBlock 上面图，下面文字*/
.coverBlock li{
	float:left;
    display:block;
	width:120px;
	height:160px;
	position:relative;
    margin-left:10px;
}
.coverBlock li img{
	width:100%;
	height:130px;
    border:1px solid #ccc;
}
.coverBlock li .txt{
	position:absolute;
	right:0px;
	bottom:0px;
	width:100%;
	height:30px;
	line-height:30px;
	background-color:#fff;
	opacity:.7;
    
	text-align:center;
}
 .coverBlock li .op{
	text-indent:inherit;
	border-left-style:none;
	border-right-style:none;	
}
    .coverBlock li .op {
        background-color:#fac7f9;
        width:100%;
        height:30px;
        bottom:30px;
    }
    .coverBlock li .op input[type=button] {
        line-height:30px;
        background-color:transparent;
        text-align:center;
    }
.coverBlock .smallOpBtn{
	background-color:#f3f3f3;
}

.commPhotoSelector {
    width:120px;
}

.commPhotoSelector .photo {
    width:100%;
    height:150px;
}

.commPhotoSelector .selector {
    display:block;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}

/**  错误信息***/
.hold .msg.error{
    color:red;
    padding-left:5px;
}
.hold .ele.error{
    border:1px solid red;
}



/** 类似章节列表**/
.listCatalog {
    min-width: 150px;
    border: 1px solid #ccc;
    min-height: 300px;
 position:
}
.listCatalog dt {
    background-color: #b841ae;
   line-height: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    display: block;
}
.listCatalog dd {
    padding: 5px;
    border-bottom: 1px solid #808080;
    display: block;
}
.listCatalog dd:hover {
    background-color:#b6ff00;
}
.listCatalog dd.nohover:hover {
    background-color:white;
}
.listCatalog dd.dropButton .dropButton-Menu {
    padding: 5px;
    border-bottom: 1px solid #808080;
    display: block;
    top:0;
    right:0;
}
/***  页面常用到的宽度*/
.w300 {
    width:300px;
}
.w150 {
    width:150px;
}
.w400 {
    width:400px;
}
/** 浮动以及清除浮动*/
.fl {
    float :left;
}