<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="WeiXinAppID" value="wxefbf59bf1f5bc467"/>
    <add key="WeiXinAppSecret" value="f8deefeeb2287bbc5a1b0b11113a3251"/>
    <add key="WeiXinAppToken" value="milanss_zhyj_xiaochen_2003_4"/>
    <add key="WeiXinAppServerToken" value=""/>
    <add key="WeiXinEncodingAESKey" value="GOSGD3QHWMSzjCdmfIVlVlpU2r74vlF2qCD8ZdVPH0e"/>
    <add key="WeiXinMchID" value="1291109601"/>
    <add key="WeiXinKey" value="qwertyuiopasdfghjklzxcvbnm123456"/>
    <add key="WeiXinMchCoursePayNotifyUrl" value="/wxPayCourseResultNotify.aspx"/>
    <add key="WeiXinMchActivityPayNotifyUrl" value="/wxPayActivityResultNotify.aspx"/>
    <add key="WeiXinMchOrderPayNotifyUrl" value="/wxPayAppointmentResultNotify.aspx"/>
    <add key="YunTongXun.account" value="aaf98f894c49ea4f014c5093be45058c"/>
    <add key="YunTongXun.token" value="e04b9da6f8cf4966860af25cc4397776"/>
    <add key="YunTongXun.appid" value="8a48b55152825d7b01528648b3ad0810"/>
    <add key="YunTongXun.templateId" value="66105"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1073741824" useFullyQualifiedRedirectUrl="false" executionTimeout="60" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ValidateCode" path="ValidateCode.aspx" type="Zhyj.AppHandler.ValidateCodeHandler" verb="*"/>
      <!-- 微信消息接口-->
      <add name="WeiXinServerValidate" path="WeiXinServerValidate.aspx" type="MiLan.Service.WeixinMessageReciveHandler" verb="*"/>
      <add name="ScaleImage" path="ScaleImage.aspx" type="Zhyj.AppHandler.ScaleImage" verb="*"/>
      <add name="ThumbnailImage" path="ThumbImage.aspx" type="Zhyj.AppHandler.ThumbnailImage" verb="*"/>
      <add name="servicesHandler" path="*/sys/services/*/*.aspx" type="Zhyj.AppHandler.AspxHandler" verb="*"/>
      <add name="AspxHandler" path="*.aspx" type="Zhyj.AppHandler.AspxHandler" verb="*"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
