<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  jiaqin.sxxxt.cn
  -->

<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="WeiXinAppID" value="wx5e02979db6d45a10"/>
    <add key="WeiXinAppSecret" value="7d317cc79ce629e133d4241aeb2d0180"/>
    <add key="WeiXinAppToken" value="jiaqin_zhyj_xiaochen_2003_4"/>
    <add key="WeiXinAppServerToken" value=""/>
    <add key="WeiXinEncodingAESKey" value="Lpp2iIvCfLSSxzLPZrdn8J0aiivQI3iENHdelNftFAf"/>


    <add key="ZLoggConnectionString" value="mssql:data source=ZHYJEYE-PC\MSSQLSERVER2014;initial catalog=JiaQinTuoGu;uid=sa;pwd=sa;MultipleActiveResultSets=True;App=MiLanSunShineLog;Pooling=true;Max Pool Size =502; Min Pool Size=5;" />

  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1073741824" useFullyQualifiedRedirectUrl="false" executionTimeout="60" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ValidateCode" path="ValidateCode.aspx" type="Zhyj.AppHandler.ValidateCodeHandler" verb="*"/>
      <!-- 微信消息接口-->
      <add name="WeiXinServerValidate" path="WeiXinServerValidate.aspx" type="Zhyj.Tencent.WeiXin.ReciveMessageHandler" verb="*"/>
      <add name="ScaleImage" path="ScaleImage.aspx" type="Zhyj.AppHandler.ScaleImage" verb="*"/>
      <add name="ThumbnailImage" path="ThumbImage.aspx" type="Zhyj.AppHandler.ThumbnailImage" verb="*"/>
      <add name="servicesHandler" path="*/sys/services/*/*.aspx" type="Zhyj.AppHandler.AspxHandler" verb="*"/>
      <add name="AspxHandler" path="*.aspx" type="Zhyj.AppHandler.AspxHandler" verb="*"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
